.shop_wrap {
    width:100%;
    position:relative;
    top:0;
    left:0;
}

.shop_wrap .show_category_banner {
    width:100%;
    height:400px;
}
.shop_wrap .show_category_banner img {
    width:100%;
    height:100%;
    object-fit:cover;
}